@page
@model Badminton_Competition_Management_System.Pages.AdminModel
@{
    ViewData["Title"] = "Admin Dashboard";
}



<div class="button-container">
    <a href="/Players" class="menu-button">Players</a>
    <a href="/Teams" class="menu-button">Teams</a>
    <a href="/Seasons" class="menu-button">Seasons</a>
</div>
