@page
@model Badminton_Competition_Management_System.Pages.FinishedSessionsModel
@{
    ViewData["Title"] = "Finished Session";
}

<div class="text-center">
    <h1 class="display-4">Finished Match days</h1>
</div>

<div class="active-sessions">
    @if (Model.Sessions.Count != 0)
    {
        @foreach (var session in Model.Sessions)
        {
            @await Html.PartialAsync("Shared/Session", session)
            ;
        }
    }
    else
    {
        <center><h3> No Match days found  </h3></center>
    }

</div>