@page
@model IndexModel
@{
    ViewData["Title"] = "Main view";
}

<div class="text-center">
    <h1 class="display-4">Active Sessions</h1>
    <!--<p>Learn about <a href="login">building Web apps with ASP.NET Core</a>.</p>-->
</div>
