@page
@model IndexModel
@{
    ViewData["Title"] = "Main view";
}

<div class="text-center">
    <h1 class="display-4">Active Match days</h1>
</div>

<div class="active-sessions">
    @if (Model.Sessions.Count != 0)
    {
        @foreach (var session in Model.Sessions)
        {
            @await Html.PartialAsync("Shared/Session", session);
        }
    } 
    else 
    {
        <center><h3> No Match days active 

            </h3>
        </center>
    }
    
</div>