@page
@model IndexModel
@{
    ViewData["Title"] = "Main view";
}

<div class="text-center">
    <h1 class="display-4">Active Sessions</h1>
</div>

<div class="active-sessions">
    @foreach (var session in Model.Sessions)
    {
        @await Html.PartialAsync("Shared/Session", session)
    }
</div>