@page
@model LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h2 class="display-4">Log In</h2>
    <form asp-action="Login" method="post">
        <div>
            <label asp-for="Username">Username</label>
            <input asp-for="Username" />
        </div>
        <div>
            <label asp-for="Password ">Password</label>
            <input asp-for="Password" type="password" />
            </div>
        
        <button type="submit">Log In</button>
    </form>
</div>
