
@model Badminton_Competition_Management_System.Pages.Shared.PlayerModel
@{
}
<div class="session-rectangle">
    <h4>@Model.FirstName @Model.LastName | @Model.GetGenderToString() | @Model.FederationNumber</h4>
    
    
</div>