@model Badminton_Competition_Management_System.Pages.Shared.SessionModel
<div class="session-rectangle">
    <h3>@Model.Name</h3>
    <p>@Model.Description</p>
    <span>@Model.StartTime</span>
</div>
